{# Utilisation du squelette "base.html.twig" #}
{% extends"base.html.twig" %}

{# Définition du titre de la page #}
{% block title %}Accueil{% endblock %}

{# Remplissage du body #}
{% block body %}

        {# Grille Bootstrap #}
    <div class="container-fluid">
        {# Titre h1 de la page #}
        <div class="row">
            <div class="col-12">
                <h1 class="text-center my-5">Le Blog de Batman</h1>
            </div>
        </div>
        {# Contenu lorem #}
        <div class="row">
            <div class="col-12 col-md-10 mx-auto">

                <h2 class="text-center my-4">Lorem ipsum dolor sit amet.</h2>

                <p class="text-center"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae deserunt doloribus ea error harum, illo ipsa molestias nesciunt nihil quaerat recusandae, sunt velit vitae. Beatae expedita maiores provident repellat vero?</span><span>Aliquam assumenda fugiat, labore magnam modi molestiae numquam optio quas totam. A aliquam animi corporis delectus distinctio dolorem enim illum iure laboriosam, minima nisi officia, possimus qui quia rem vitae?</span></p>
            </div>
        </div>
        {# Affichage de l'image fixe eb bandeau #}
        <div class="row my-5 batman-cover"></div>
    </div>

{% endblock %}