{# Utilisation du squelette "base.html.twig" #}
{% extends"base.html.twig" %}

{# Définition du titre de la page #}
{% block title %}Problème interne au serveur : erreur 500{% endblock %}

{# Remplissage du body #}
{% block body %}

    {# Grille Bootstrap #}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class=" text-center my-5">Erreur 500 : Probème interne au serveur, contactez Batman pour le résoudre</h1>
            </div>
        </div>
    </div>

{% endblock %}